@tailwind base;
@tailwind components;
@tailwind utilities;

/* Noto Sans KR 폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* JalnanGothic 폰트 설정 */
@font-face {
  font-family: 'JalnanGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Tailwind에서 기본 폰트 설정 */
@layer base {
  body {
    font-family: 'Noto Sans KR', sans-serif; /* 기본 폰트를 설정 */
  }
}

/* 버튼 등 커스텀 컴포넌트 설정 */
@layer components {
  .btn {
    @apply bg-brand text-white p-3 m-1 rounded-lg;
  }

  .h-btn {
    @apply px-4 py-2 rounded-xl bg-brand hover:bg-brand-dark transition-colors duration-200;
  }
}

/* 유틸리티 레이어 커스텀 설정 */
@layer utilities {
  @variants responsive {
    /* Chrome, Safari, Edge, Opera에서 스피너 제거 */
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox에서 스피너 제거 */
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}
